.operation {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

.intro, .services, .team, .contact {
    margin-bottom: 40px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.surgry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.surgry img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit:initial;
}
.buttons .button {
    display: flexbox;
    padding: 8px 16px;
    background-color:blue;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.buttons .button:hover {
    background-color: #0056b3;
}



